<section class="paddingTopBottom20">
            <figure>
                <img src="assets/img/profile-circle.png" class="center-block">
              <figcaption class="text-center">
                <h5 class="col-xs-6">
                  Firstname
                </h5>
                <h5 class="col-xs-6">
                  Lastname
                </h5>
                <h5>Email@example.com</h5>
              </figcaption>
            </figure>
            
            <aside class="text-center marginTopBottom20 clearfix">
              <small class="col-xs-3">Fav<br>34</small>
              <small class="col-xs-3">Fav<br>34</small>   
              <small class="col-xs-3">Fav<br>34</small>   
              <small class="col-xs-3">Fav<br>34</small>       
            </aside>

            <aside class="table-responsive marginTopBottom20">
              <table class="table table-striped text-center">
                
                  <thead>
                  <td>Image</td>
                  <td>Title</td>
                  <td>Brewery</td>
                  <td>Category</td>
                  <td>Remove</td>
                  </thead>
                
                <tr>
                  <td>asdfas</td>
                  <td>bud</td>
                  <td>labbatt</td>
                  <td>Light</td>
                  <td><a href=""><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>

                <tr>
                  <td>asdfas</td>
                  <td>bud</td>
                  <td>labbatt</td>
                  <td>Light</td>
                  <td><span class="glyphicon glyphicon-remove"></span></td
                </tr>

                <tr>
                  <td>asdfas</td>
                  <td>bud</td>
                  <td>labbatt</td>
                  <td>Light</td>
                  <td><span class="glyphicon glyphicon-remove"></span></td
                </tr>
                <tr>
                  <td>asdfas</td>
                  <td>bud</td>
                  <td>labbatt</td>
                  <td>Light</td>
                  <td><span class="glyphicon glyphicon-remove"></span></td
                </tr>
                <tr>
                  <td>asdfas</td>
                  <td>bud</td>
                  <td>labbatt</td>
                  <td>Light</td>
                  <td><span class="glyphicon glyphicon-remove"></span></td
                </tr>
              </table>
            </aside>

          </section>