<section>
            <form class="marginTop100">
              <div class="form-group">
                <input type="text" class="form-control" id="inputFirstname" placeholder="FirstName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputLastname" placeholder="LastName">
              </div>
               <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <div class="form-group marginTop50">
                <a href="#" class="btn--main text-center">Sign-up</a>
              </div>
            </form>
          </section>